/*! CSS Used from: https://canary.discordapp.com/assets/0.794415a287344a1da68e.css */
.anchor-3Z-8Bb{color:#00b0f4;text-decoration:none;}
.anchorUnderlineOnHover-2ESHQB:hover{text-decoration:underline;}
.flex-1O1GKY{display:-webkit-box;display:-ms-flexbox;display:flex;}
.alignCenter-1dQNNs{-ms-flex-align:center;-webkit-box-align:center;align-items:center;}
.alignStretch-DpGPf3{-ms-flex-align:stretch;-webkit-box-align:stretch;align-items:stretch;}
.justifyStart-2NDFzi{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;}
.justifyBetween-2tTqYu{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between;}
.noWrap-3jynv6{-ms-flex-wrap:nowrap;flex-wrap:nowrap;}
.directionRow-3v3tfG{-ms-flex-direction:row;-webkit-box-direction:normal;-webkit-box-orient:horizontal;flex-direction:row;}
.directionColumn-35P_nr{-ms-flex-direction:column;-webkit-box-direction:normal;-webkit-box-orient:vertical;flex-direction:column;}
.inner-1JeGVc{-webkit-box-direction:normal;-webkit-box-orient:vertical;display:-webkit-box;display:-ms-flexbox;display:flex;}
.inner-1JeGVc{-ms-flex-direction:column;contain:layout;flex-direction:column;pointer-events:auto;}
.firefoxFixScrollFlex-cnI2ix{min-height:0;}
.scrollerWrap-2lJEkd{-ms-flex:1;-webkit-box-flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;flex:1;height:100%;position:relative;}
.scroller-2FKFPG{-ms-flex:1;-webkit-box-flex:1;contain:layout;flex:1;overflow-y:scroll;}
.scroller-2FKFPG::-webkit-scrollbar{height:14px;width:14px;}
.scroller-2FKFPG::-webkit-scrollbar-thumb,.scroller-2FKFPG::-webkit-scrollbar-track{background-clip:padding-box;border-radius:7px;border-style:solid;border-width:3px;}
.scroller-2FKFPG::-webkit-scrollbar-track{border-width:initial;}
.scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-thumb,.scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-track{visibility:hidden;}
.scrollerFade-1Ijw5y .scroller-2FKFPG:hover::-webkit-scrollbar-thumb,.scrollerFade-1Ijw5y .scroller-2FKFPG:hover::-webkit-scrollbar-track,.scrollerFade-1Ijw5y:hover::-webkit-scrollbar-thumb,.scrollerFade-1Ijw5y:hover::-webkit-scrollbar-track{visibility:visible;}
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb{background-color:#202225;border-color:transparent;}
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track{background-color:transparent;border-color:transparent;}
.scrollbar-3dvm_9::-webkit-scrollbar-corner{background:none;border:none;}
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar{height:4px;width:4px;}
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb{background-color:rgba(32,34,37,.6);border-radius:2px;cursor:move;}
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-track{background-color:transparent;border:none;}
.nameTag-m8r81H{line-height:17px;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap;}
.userSelectText-1o1dQ7{-moz-user-select:text;-ms-user-select:text;-webkit-user-select:text;user-select:text;}
.wrapper-2F3Zv8{-ms-flex-negative:0;flex-shrink:0;position:relative;}
.image-33JSyf,.wrapper-2F3Zv8{border-radius:50%;}
.image-33JSyf{background-clip:padding-box;background-color:none;background-position:50%;background-size:100%;height:100%;width:100%;}
.mask-3OgeRz{-webkit-mask:url(https://canary.discordapp.com/assets/bbefc7dbdacf4d38891b2ce9acdbe763.svg);-webkit-mask-size:100%;mask:url(https://canary.discordapp.com/assets/bbefc7dbdacf4d38891b2ce9acdbe763.svg);mask-size:100%;mask-type:luminance;}
.maskProfile-1ObLFT{-webkit-mask:url(https://canary.discordapp.com/assets/ee28e449f86121bee152231e3ce50839.svg);mask:url(https://canary.discordapp.com/assets/ee28e449f86121bee152231e3ce50839.svg);}
.profile-ZOdGIb{height:90px;width:90px;}
.status-oxiHuE{background-position:50% 50%;background-repeat:no-repeat;border-radius:50%;bottom:0;height:25%;position:absolute;right:0;width:25%;}
.online-2S838R{background-color:#43b581;}
.statusProfile-3ynqtt{background-size:12px;bottom:3px;height:18px;position:absolute;right:3px;width:18px;}
.statusProfile-3ynqtt.online-2S838R{-webkit-box-shadow:inset 0 0 0 2px rgba(180,225,205,.6);box-shadow:inset 0 0 0 2px rgba(180,225,205,.6);}
.note-3kmerW input{-webkit-box-sizing:border-box;background:transparent;border:none;box-sizing:border-box;font-size:12px;line-height:14px;max-height:88px;padding:2px 10px;resize:none;width:100%;}
.note-3kmerW input::-moz-selection{background:#7289da;color:#fff;}
.note-3kmerW input::selection{background:#7289da;color:#fff;}
.theme-dark .note-3kmerW input{color:#b9bbbe;}
.theme-dark .note-3kmerW input:focus{background-color:#202225;}
a,div,img,span{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;vertical-align:baseline;}
a{-webkit-transition:opacity .5s,color .5s;color:#00b0f4;cursor:pointer;text-decoration:none;transition:opacity .5s,color .5s;}
::-webkit-input-placeholder,input{font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;}
:-ms-input-placeholder,input{font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;}
::placeholder,input{font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;}
::-webkit-input-placeholder,input{font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;}
:-ms-input-placeholder,input{font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;}
::placeholder,input{font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;}
a,div,span,input{outline:0;}
.root-SR8cQa{border-radius:8px;overflow:hidden;position:relative;width:600px;}
.header-QKLPzZ{padding:20px;}
.headerInfo-30uryT{-ms-flex:1;-webkit-box-flex:1;flex:1;}
.nameTag-2IFDfL{-ms-flex-wrap:wrap;flex-wrap:wrap;line-height:20px;padding-right:20px;white-space:normal;word-break:break-word;}
.avatar-3EQepX{margin-right:20px;}
.username-3gJmXY{color:#fff;font-size:18px;font-weight:600;}
.discriminator-xUhQkU{color:hsla(0,0%,100%,.6);font-size:14px;}
.profileBadges-2vWUYb{margin-top:8px;}
.profileBadgeWrapper-rl_RO6{margin-right:6px;}
.profileBadge-2BqF-Z{background-position:50%;background-repeat:no-repeat;background-size:contain;cursor:pointer;height:24px;width:24px;}
.profileBadgeHypeSquadOnlineHouse3-1YbjMX{background-image:url(https://canary.discordapp.com/assets/2a085ed9c86f3613935a6a8667ba8b89.svg);}
.profileBadgeEarlySupporter-PQB_0a{background-image:url(https://canary.discordapp.com/assets/ce15562552e3d70c56d5408cfeed2ffd.svg);width:28px;}
.profileBadgePremium-3kZ9Qj{background-image:url(https://canary.discordapp.com/assets/379d2b3171722ef8be494231234da5d1.svg);width:28px;}
.topSectionNormal-2-vo2m .profileBadgeHypeSquadOnlineHouse3-1YbjMX{background-image:url(https://canary.discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg);}
.topSectionNormal-2-vo2m .profileBadgeEarlySupporter-PQB_0a{background-image:url(https://canary.discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg);}
.topSectionNormal-2-vo2m .profileBadgePremium-3kZ9Qj{background-image:url(https://canary.discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg);}
.body-3ND3kc{height:240px;}
.userInfoSection-2acyCx{margin:0 20px;padding:20px 0;}
.userInfoSection-2acyCx+.userInfoSection-2acyCx{border-top:1px solid;}
.userInfoSectionHeader-CBvMDh{color:#fff;font-size:12px;font-weight:700;text-transform:uppercase;}
.userInfoSectionHeader-CBvMDSh{color:#fff;font-size:12px;font-weight:700;}
.userInfoSectionHeader-CBvMDg{color:#fff;font-size:12px;background:transparent;border:none;box-sizing:border-box;}
.note-QfFU8y{margin:-4px;}
.note-QfFU8y input{border-radius:3px;font-size:14px;line-height:16px;padding:4px;}
.note-QfFU8y input,.note-QfFU8y input::-webkit-input-placeholder{color:#b9bbbe;}
.note-QfFU8y input,.note-QfFU8y input:-ms-input-placeholder{color:#b9bbbe;}
.note-QfFU8y input,.note-QfFU8y input::placeholder{color:#b9bbbe;}
.connectedAccounts-repVzS{-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:-20px;}
.connectedAccount-36nQx7{border:1px solid;border-radius:3px;margin-top:20px;padding:8px 14px 8px 8px;width:240px;}
.connectedAccountIcon-3P3V6F{-ms-flex-negative:0;flex-shrink:0;height:30px;width:30px;}
.connectedAccountNameInner-1phBvE{-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;}
.connectedAccountName-f8AEe2,.connectedAccountNameInner-1phBvE{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.connectedAccountName-f8AEe2{-moz-user-select:text;-ms-user-select:text;-webkit-user-select:text;color:#b9bbbe;font-size:16px;font-weight:400;margin-left:10px;user-select:text;}
.connectedAccountVerifiedIcon-3aZz_K{margin:0 5px;}
.connectedAccountOpenIcon-2cNbq5{-ms-flex-negative:0;background:url(https://canary.discordapp.com/assets/84591cd2a7c7aca2aca6871b28ad8f8b.svg) no-repeat 50%;flex-shrink:0;height:18px;width:18px;}
.theme-dark .topSectionNormal-2-vo2m{background-color:#7289da;}
.theme-dark .body-3ND3kc{background-color:#6378c0;}
.theme-dark .connectedAccount-36nQx7,.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx{border-color:#7289da;}
.theme-dark .root-SR8cQa .note-QfFU8y input:focus{background-color:#7289da;}
.playbox-area img {
    max-width: 15%;
    max-height: 15%;
    border-radius: 10%;
}
.playbox-area .field {
    margin-left: 9rem;
}
/*! CSS Used fontfaces */
@font-face{font-family:Whitney;font-weight:300;src:url(https://canary.discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff");}
@font-face{font-family:Whitney;font-weight:400;src:url(https://canary.discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff");}
@font-face{font-family:Whitney;font-weight:500;src:url(https://canary.discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff");}
@font-face{font-family:Whitney;font-weight:600;src:url(https://canary.discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff");}
@font-face{font-family:Whitney;font-weight:700;src:url(https://canary.discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff");}
.topSectionNormal-2-vo2m {background-color: #7289da;}
.body-3ND3kc {background-color: #6378c0;}
body, button, input, select, input {font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;}


