body {
	background-color: #111;
	font-family: Arial;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	background-color: #212121;
}

/* Track */
::-webkit-scrollbar-track {
	background: #121212;
	border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #212121;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #212121;
}

.CodeMirror {
	background-color: transparent !important;
	color: #f8f8f2 !important;
	border: none;
	height: auto !important;
}

.CodeMirror {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
	font-size: 18px !important;
}

.CodeMirror-gutters {
	background-color: #191919 !important;
	border: none;
	color: #282a36;
	color: transparent !!important;
}

.CodeMirror-activeline-background {
	background: rgba(255, 255, 255, 0.1);
}
.CodeMirror-matchingbracket {
	outline: 0;
	background: rgba(255, 255, 255, 0.2);
	color: inherit;
}
.CodeMirror-foldmarker {
	color: white;
	text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.4);
}

.CodeMirror-cursor {
	border-left: solid thin #f8f8f0;
}

.CodeMirror-activeline .CodeMirror-linenumber {
	color: white;
}
.CodeMirror-focused .CodeMirror-activeline-background {
	background: #e8f2ff;
}
.CodeMirror-linenumber {
	color: #6d8a88;
}
.CodeMirror-lsp-highlight {
	background: rgba(241, 187, 37, 0.2);
}
.CodeMirror-selected {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 3px;
}
.CodeMirror-line::selection {
	background: rgba(255, 255, 255, 0.1);
}