@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1e2124; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #282b30; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #36393e; 
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }

  .bg-discord-1 {
    background-color: #1e2124;
   }

   .bg-discord-2 {
    background-color: #282b30;
   }
   
   .bg-discord-3 {
    background-color: #282b30;
   }

   .bg-discord-4 {
    background-color: #424549;
   }

   .bg-discord-5 {
    background-color: #2e3235;
   }

   .border-discord-1 {
    border-color: #1e2124;
   }

   .border-discord-2 {
    border-color: #282b30;
   }
   
   .border-discord-3 {
    border-color: #282b30;
   }

   .border-discord-4 {
    border-color: #424549;
   }
}